.jumbotron {
    background: url(images/bj.jpg) top center fixed;
    background-size: cover;
    color: white;
    padding-bottom: 10em;
    padding-top: 10em;

}

.jumbotron h1 {
    margin-bottom: 3rem;
}

.jumbotron p {
    margin-bottom: 3rem;
    font-weight: bold;
}

.half li {
    width: 50%;
}

.img-responsive{
    width: 100px;
    height: 50px;
}
