{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">

    {% comment %} mycss and myjs {% endcomment %}
    {% block header_extends %}{% endblock %}
</head>
<body>
<div class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">一带一路媒体网站</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %}{% endblock %}">
                    <a href="{% url 'index' %}">首页</a>
                </li>
                <li class="{% block nav_world_map_active %}{% endblock %}">
                    <a href="{% url 'mediums:world_map' %}">世界地图模式</a>
                </li>
                <li>
                    <a href="{% url 'users:user_register' %}">注册</a>
                </li>
                <li>
                    <a href="{% url 'users:user_login' %}">登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% block footer %}
    <footer></footer>
{% endblock %}
<script type="application/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
<script type="application/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</body>
</html>