{% extends 'base.html' %}

{% block title %}
    主页标题
{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/medium_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>{{ medium.chn_name }} <small>{{ medium.en_name }}</small></h1>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            媒体信息
                        </div>
                        <div class="panel-body">
                            <div class="info-item">
                                <div class="div-inline info-subtitle">媒体链接</div>
                                <div class="div-inline"><a href="{{ medium.url }}" target="_blank">{{ medium.url }}</a>
                                </div>
                            </div>
                            <br><br>
                            <div class="info-item">
                                <div class="div-inline info-subtitle">媒体分类</div>
                                <div class="div-inline"><a href="{{ medium.url }}" target="_blank">{{ medium.category_info }}</a>
                                </div>
                            </div>
                            <br><br>
                            <div class="info-item">
                                <div class="div-inline info-subtitle">主要语种</div>
                                <div class="div-inline"><a href="{{ medium.url }}" target="_blank">{{ medium.language_info }}</a>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <span>整理于 {{ medium.add_time }}，仅供参考</span>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            评价栏
                        </div>
                        <div class="panel-body">

                        </div>
                        <div class="panel-footer">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



